@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.scss";

@layer components {
  .primary-pane {
    border: 1px solid $primary-color;
    background: linear-gradient(
      125deg,
      rgba(228, 42, 251, 0.17) 7.67%,
      rgba(92, 84, 161, 0.17) 97.16%
    );
  }

  .secondary-pane {
    border: 2px solid #7267f9;
    background: linear-gradient(
      111deg,
      rgba(71, 42, 251, 0.3) 0%,
      rgba(92, 84, 161, 0.1) 100%
    );
    backdrop-filter: blur(35.5px);
  }
}

html,
body {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
